<a href="https://colab.research.google.com/github/dhanush1234567890/python-new/blob/module-2/Copy_of_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits=("apple","banana","mango","pineapple","papaya")
print(fruits)
print(fruits[0:3])
print(fruits[2])
('apple', 'banana', 'mango', 'pineapple', 'papaya')
('apple', 'banana', 'mango')
choclates=("dairy milk","five star","milky bar","chocos","black berry")
print(choclates)
print(choclates[0:2])
print(choclates[3])
('dairy milk', 'five star', 'milky bar', 'chocos', 'black berry')
('dairy milk', 'five star')
fruit=["apple","banana","mango","pineapple","papaya"]
print(fruit)
fruit.append("star fruit")
print(fruit)
## inserting int list
fruit.insert(0,"orange")
print(fruit)
## removing from the list
fruit.remove("star fruit")
print (fruits)
['apple', 'banana', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'mango', 'pineapple', 'papaya', 'star fruit']
['orange', 'apple', 'banana', 'mango', 'pineapple', 'papaya', 'star fruit']
('apple', 'banana', 'mango', 'pineapple', 'papaya')
numbers=["1","2","3","4","5","6"]
print(numbers)
#pop and remove 
numbers.remove("3")
print(numbers)
numbers.pop(4)
#delete
del numbers[1]
print(numbers)
#clear the list content
print(numbers)
#SORT
num=[10,20,303,40,50]
num.sort()
print(num)
#sort is descending
num
['1', '2', '3', '4', '5', '6']
['1', '2', '4', '5', '6']
['1', '4', '5']
['1', '4', '5']
[10, 20, 40, 50, 303]
[10, 20, 40, 50, 303]

('apple', 'banana', 'mango', 'pineapple', 'papaya')
('apple', 'banana', 'mango')
mango
('dairy milk', 'five star', 'milky bar', 'chocos', 'black berry')
('dairy milk', 'five star')
chocos
['apple', 'banana', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'mango', 'pineapple', 'papaya', 'star fruit']
['orange', 'apple', 'banana', 'mango', 'pineapple', 'papaya', 'star fruit']
('apple', 'banana', 'mango', 'pineapple', 'papaya')
['1', '2', '3', '4', '5', '6']
['1', '2', '4', '5', '6']
['1', '4', '5']
['1', '4', '5']
[10, 20, 40, 50, 303]

[10, 20, 40, 50, 303]